<!--
    Copyright 2015 Jon Norcross 

    This file is part of GrantCoin Integration.

    GrantCoin Integration is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    GrantCoin Integration is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with GrantCoin Integration.  If not, see <http://www.gnu.org/licenses/>.
-->

{% include "thetransitionglobaluser" %}
{% include "thetransitionextheader" %}
<script type="text/javascript">
    Ext.onReady(function() {
		Ext.QuickTips.init();
		
		Ext.define('GRTUser', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'address'
				}, 
				{
					name: 'balancegrt'
				},
				{
					name: 'balanceusd'
				},
				{
					name: 'status'
				},
				{
					name: 'expirationdt'
				},
				{
					name: 'monthlysubgrt'
				},
				{
					name: 'yearlysubgrt'
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'grantcoinuser',
					command: 'grantcoin',
					action: 'getaccount'
				},
				reader: {
					type: 'json',
					rootProperty: 'grantcoinuser'
				},
				type: 'customphp'
			}
		});
		
		Ext.define('USDBTCMarket', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'high',
				}, 
				{
					name: 'last',
				},
				{
					name: 'bid'
				},
				{
					name: 'low'
				},
				{
					name: 'ask'
				},
				{
					name: 'volume'
				},
				{
					name: 'lastupdated'
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'bitstamp',
					command: 'grantcoin',
					action: 'getusdbtcmarketsummary'
				},
				reader: {
					type: 'json',
					rootProperty: 'bitstamp'
				},
				type: 'customphp'
			}
		});
		
		Ext.define('BTCGRTMarket', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'high'
				}, 
				{
					name: 'low'
				},
				{
					name: 'volume'
				},
				{
					name: 'last'
				},
				{
					name: 'bid'
				},
				{
					name: 'ask'
				},
				{
					name: 'lastupdated'
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'bittrex',
					command: 'grantcoin',
					action: 'getbtcgrtmarketsummary'
				},
				reader: {
					type: 'json',
					rootProperty: 'bittrex'
				},
				type: 'customphp'
			}
		});
		
		var marketPanel = new Ext.panel.Panel({
			title: 'Market Data',
			collapsible: true,
			renderTo: "marketdata",
			layout: 'column',
			width: '700px',
			defaults: {
				style:{
					'margin': '5px'
				}
			},
			items: [
				{
					xtype: 'fieldset',
					columnWidth: 0.5,
					title: 'BitCoin - GrantCoin Market (Powered By: <a href="http://www.bittrex.com">Bittrex</a>)',
					items: [
						{
							xtype: 'form',
							id: 'btcgrtform',
							border: false,
							defaults: {
								labelAlign: 'right'
							},
							items: [
								{
									xtype: 'textfield',
									fieldLabel: 'Bid (BTC)',
									name: 'bid',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Ask (BTC)',
									name: 'ask',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'High (BTC)',
									name: 'high',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Low (BTC)',
									name: 'low',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Last (BTC)',
									name: 'last',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Volume (GRT)',
									name: 'volume',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Retrieved At (UTC)',
									name: 'lastupdated',
									readOnly: true
								}
							]
						}
					]
				},
				{
					xtype: 'fieldset',
					columnWidth: 0.5,
					title: 'United States Dollars - BitCoin Market (Powered By: <a href="http://www.bitstamp.net">Bitstamp</a>)',
					items: [
						{
							xtype: 'form',
							id: 'usdbtcform',
							border: false,
							defaults: {
								labelAlign: 'right'
							},
							items: [
								{
									xtype: 'textfield',
									fieldLabel: 'Bid ($)',
									name: 'bid',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Ask ($)',
									name: 'ask',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'High ($)',
									name: 'high',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Low ($)',
									name: 'low',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Last ($)',
									name: 'last',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Volume (BTC)',
									name: 'volume',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Retrieved At (UTC)',
									name: 'lastupdated',
									readOnly: true
								}
							]
						}
					]
				}
			]
		});
		
		
		var objBTCGRTMarket = new BTCGRTMarket();
		var objUSDBTCMarket = new USDBTCMarket();
		objBTCGRTMarket.load({
			success: function(record, operation){
				Ext.getCmp('btcgrtform').loadRecord(record);
			}
		});
		objUSDBTCMarket.load({
			success: function(record, operation){
				Ext.getCmp('usdbtcform').loadRecord(record);
			}
		});
		
		var myAccount = new Ext.panel.Panel({
			title: 'My Account',
			renderTo: 'myaccount',
			items: [
				{
					xtype: 'form',
					id: 'accountform',
					defaults: {
						style:{
							'margin': '5px'
						}
					},
					items: [
						{
							xtype: 'fieldset',
							title: 'Instructions',
							html: 'Use the GrantCoin Address provided below to add GrantCoin to your account.  Once you have added GrantCoin you can use the available balance to make a donation or purchase membership by the month.'
						},
						{
							xtype: 'fieldset',
							title: 'Account',
							defaults: {
								labelAlign: 'right',
								labelWidth: 150,
								width: '100%'
							},
							items:[
								{
									xtype: 'textfield',
									fieldLabel: 'GrantCoin Address',
									name: 'address',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Balance (GRT)',
									name: 'balancegrt',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Approximate Value (USD)',
									name: 'balanceusd',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Membership Status',
									name: 'status',
									readOnly: true
								},
								{
									xtype: 'datefield',
									fieldLabel: 'Membership Expiration',
									name: 'expirationdt',
									readOnly: true
								}
							]
						},
						{
							xtype: 'fieldset',
							title: 'Membership Costs in GRT',
							defaults: {
								labelAlign: 'right',
								labelWidth: 150,
								width: '100%'
							},
							items: [
								{
									xtype: 'textfield',
									fieldLabel: 'Monthly Membership',
									name: 'monthlysubgrt',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Yearly Membership',
									name: 'yearlysubgrt',
									readOnly: true
								}
							]
						},
						{
							xtype: 'fieldset',
							title: 'Actions',
							defaults: {
								labelAlign: 'right',
								labelWidth: 150,
								width: '100%'
							},
							items: [
								{
									xtype: 'combo',
									name: 'action',
									fieldLabel: 'Action',
									valueField: 'id',
									displayField: 'name',
									queryMode: 'local',
									store: 
									{
										xtype: 'store',
										fields: ['id','name'],
										data: [
											{ 
												id: 1, 
												name: 'Donate'
											},
											{
												id: 2,
												name: 'Purchase Membership'
											},
											{
												id: 3,
												name: 'Withdraw'
											}
										]
									},
									listeners: {
										change: {
											fn: function(field, newValue, oldValue, eOpts){
												var form = this.findParentByType('form').getForm();
												var donate = form.findField('donateamount');
												var months = form.findField('months');
												var totalCost = form.findField('totalcost');
												var submitButton = Ext.getCmp('submitbutton');
												var balance = form.findField('balancegrt');
												var monthlySub = form.findField('monthlysubgrt');
												var withdrawAmount = form.findField('withdrawamount');
												var address = form.findField('withdrawaddress');
												donate.hide();
												months.hide();
												totalCost.hide();
												submitButton.hide();
												withdrawAmount.hide();
												address.hide();
												if(newValue == 1){
													donate.show();
													submitButton.show();
													donate.setMaxValue(balance.getValue());
												}
												else if(newValue == 2){
													months.show();
													submitButton.show();
													totalCost.show();
													var maxValue = Math.floor(balance.getValue() / monthlySub.getValue());
													months.setMaxValue(maxValue);
												}
												else if(newValue == 3){
													withdrawAmount.setMaxValue(balance.getValue());
													withdrawAmount.show();
													address.show();
													submitButton.show();
												}
											}
										}
									}
								},
								{
									xtype: 'numberfield',
									fieldLabel: 'Withdraw Amount (GRT)',
									name: 'withdrawamount',
									decimalPrecision: 6,
									minValue: 1,
									hidden: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'GrantCoin Address',
									name: 'withdrawaddress',
									hidden: true,
									readOnly: false
								},
								{
									xtype: 'numberfield',
									fieldLabel: 'Donation Amount (GRT)',
									name: 'donateamount',
									decimalPrecision: 6,
									minValue: 1,
									hidden: true
								},
								{
									xtype: 'numberfield',
									fieldLabel: 'Number of Months',
									name: 'months',
									minValue: 1,
									hidden: true,
									listeners: {	
										change: {
											fn: function(field, newValue, oldValue, eOpts){
												var form = this.findParentByType('form').getForm();
												form.findField('totalcost').setValue(newValue * form.findField('monthlysubgrt').getValue());
											}
										}
									}
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Total Cost (GRT)',
									name: 'totalcost',
									hidden: true,
									readOnly: true
								},
								{
									xtype: 'button',
									id: 'submitbutton',
									text: 'Submit',
									hidden: true,
									handler: function(){
										var form = this.findParentByType('form').getForm();
										var action = form.findField('action');
										var donate = form.findField('donateamount');
										var months = form.findField('months');
										var totalCost = form.findField('totalcost');
										var submitButton = Ext.getCmp('submitbutton');
										var balance = form.findField('balancegrt');
										var monthlySub = form.findField('monthlysubgrt');
										var withdrawAmount = form.findField('withdrawamount');
										var address = form.findField('withdrawaddress');
									
										var params = {
											resource: 'grantcoin',
											action: 'validate',
											command: 'grantcoin',
											submittype: action.getValue(),
											donate: donate.getValue(),
											months: months.getValue(),
											totalcost: totalCost.getValue(),
											monthlysub: monthlySub.getValue(),
											withdrawamount: withdrawAmount.getValue(),
											address: address.getValue()
										}
										var onSuccess = function(response){
											var response = response.responseText;
											var resource = 'grantcoin';
											response = Ext.JSON.decode(response);
											
											var data = response[resource][0];
											Ext.MessageBox.show({
												title: 'Confirmation',
												msg: data.confirmationtxt,
												buttons: Ext.MessageBox.OKCANCEL,
												icon: Ext.MessageBox.QUESTION,
												fn: function(btn) {
													if (btn === 'ok') {
														var params = {
															resource: 'grantcoin',
															action: 'processtransaction',
															command: 'grantcoin',
															confirmationid: data.confirmationid
														}
														var onSuccess = function(response){
															var response = response.responseText;
															response = Ext.JSON.decode(response);
															
															var data = response['grantcoin'][0];
															var objGRTUser = new GRTUser();
															objGRTUser.load({
																success: function(record, operation){
																	Ext.getCmp('accountform').loadRecord(record);
																}
															});
															Ext.MessageBox.show({
																title: 'Information',
																msg: data.successtxt,
																buttons: Ext.MessageBox.OK,
																icon: Ext.MessageBox.INFO
															});
														}
														Transition.global.ajaxRequest(params, onSuccess);
													} 
													else {
														//User cancelled; no need to do anything
													} 
												}
											});
										};
										var onFailure = function(response){
											var objGRTUser = new GRTUser();
											objGRTUser.load({
												success: function(record, operation){
													Ext.getCmp('accountform').loadRecord(record);
												}
											});
										}
										Transition.global.ajaxRequest(params, onSuccess, onFailure);
									}
								}
							]
						}
					]
				}
			]
		});
		
		var objGRTUser = new GRTUser();
		objGRTUser.load({
			success: function(record, operation){
				Ext.getCmp('accountform').loadRecord(record);
			}
		});	
	});
</script>


{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>
  
  
  <div id="myaccount"></div>
  <br>
  <br>
  <div id="marketdata"></div>
  
  <br>
  <br>
  <p>Disclaimer: The Transition is not liable for any loss of Grantcoin that might occur through use of software, apps, or web-based services provided for free by The Transition or by any third party, and users accept the risks and take responsibility for their own use of such products and services.</p>
  <br>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

{% include "donateLink" with "pay_what_you_want" %} 