{% include "thetransitionglobaluser" %}
{% include "thetransitionextheader" %}
<script type="text/javascript">
    Ext.onReady(function() {
		Ext.QuickTips.init();
		
		Ext.define('GRTUser', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'address'
				}, 
				{
					name: 'balancegrt'
				},
				{
					name: 'balanceusd'
				},
				{
					name: 'status'
				},
				{
					name: 'expirationdt'
				},
				{
					name: 'monthlysubgrt'
				},
				{
					name: 'yearlysubgrt'
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'grantcoinuser',
					command: 'grantcoin',
					action: 'getaccount'
				},
				reader: {
					type: 'json',
					rootProperty: 'grantcoinuser'
				},
				type: 'customphp'
			}
		});
		
		Ext.define('USDBTCMarket', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'high',
				}, 
				{
					name: 'last',
				},
				{
					name: 'bid'
				},
				{
					name: 'low'
				},
				{
					name: 'ask'
				},
				{
					name: 'volume'
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'bitstamp',
					command: 'grantcoin',
					action: 'getusdbtcmarketsummary'
				},
				reader: {
					type: 'json',
					rootProperty: 'bitstamp'
				},
				type: 'customphp'
			}
		});
		
		Ext.define('BTCGRTMarket', {
			extend: 'Ext.data.Model',
			fields: [
				{
					name: 'high'
				}, 
				{
					name: 'low'
				},
				{
					name: 'volume'
				},
				{
					name: 'last'
				},
				{
					name: 'bid'
				},
				{
					name: 'ask'
				}
			],
			proxy: 
			{
				extraParams: {
					resource: 'bittrex',
					command: 'grantcoin',
					action: 'getbtcgrtmarketsummary'
				},
				reader: {
					type: 'json',
					rootProperty: 'bittrex'
				},
				type: 'customphp'
			}
		});
		
		var marketPanel = new Ext.panel.Panel({
			title: 'Market Data',
			collapsible: true,
			renderTo: "marketdata",
			layout: 'column',
			width: '700px',
			defaults: {
				style:{
					'margin': '5px'
				}
			},
			items: [
				{
					xtype: 'fieldset',
					columnWidth: 0.5,
					title: 'BitCoin - GrantCoin Market (Powered By: <a href="http://www.bittrex.com">Bittrex</a>)',
					items: [
						{
							xtype: 'form',
							id: 'btcgrtform',
							border: false,
							defaults: {
								labelAlign: 'right'
							},
							items: [
								{
									xtype: 'textfield',
									fieldLabel: 'Bid (BTC)',
									name: 'bid',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Ask (BTC)',
									name: 'ask',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'High (BTC)',
									name: 'high',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Low (BTC)',
									name: 'low',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Last (BTC)',
									name: 'last',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Volume (GRT)',
									name: 'volume',
									readOnly: true
								}
							]
						}
					]
				},
				{
					xtype: 'fieldset',
					columnWidth: 0.5,
					title: 'United States Dollars - BitCoin Market (Powered By: <a href="http://www.bitstamp.net">Bitstamp</a>)',
					items: [
						{
							xtype: 'form',
							id: 'usdbtcform',
							border: false,
							defaults: {
								labelAlign: 'right'
							},
							items: [
								{
									xtype: 'textfield',
									fieldLabel: 'Bid ($)',
									name: 'bid',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Ask ($)',
									name: 'ask',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'High ($)',
									name: 'high',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Low ($)',
									name: 'low',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Last ($)',
									name: 'last',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Volume (BTC)',
									name: 'volume',
									readOnly: true
								}
							]
						}
					]
				}
			]
		});
		
		
		var objBTCGRTMarket = new BTCGRTMarket();
		var objUSDBTCMarket = new USDBTCMarket();
		objBTCGRTMarket.load({
			success: function(record, operation){
				Ext.getCmp('btcgrtform').loadRecord(record);
			}
		});
		objUSDBTCMarket.load({
			success: function(record, operation){
				Ext.getCmp('usdbtcform').loadRecord(record);
			}
		});
		
		var myAccount = new Ext.panel.Panel({
			title: 'My Account',
			renderTo: 'myaccount',
			items: [
				{
					xtype: 'form',
					id: 'accountform',
					defaults: {
						style:{
							'margin': '5px'
						}
					},
					items: [
						{
							xtype: 'fieldset',
							title: 'Instructions',
							html: 'Use the GrantCoin Address provided below to add GrantCoin to your account.  Once you have added GrantCoin you can use the available balance to make a donation or purchase membership by the month.'
						},
						{
							xtype: 'fieldset',
							title: 'Account',
							defaults: {
								labelAlign: 'right',
								labelWidth: 150,
								width: '100%'
							},
							items:[
								{
									xtype: 'textfield',
									fieldLabel: 'GrantCoin Address',
									name: 'address',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Balance (GRT)',
									name: 'balancegrt',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Approximate Value (USD)',
									name: 'balanceusd',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Membership Status',
									name: 'status',
									readOnly: true
								},
								{
									xtype: 'datefield',
									fieldLabel: 'Membership Expiration',
									name: 'expirationdt',
									readOnly: true
								}
							]
						},
						{
							xtype: 'fieldset',
							title: 'Membership Costs in GRT',
							defaults: {
								labelAlign: 'right',
								labelWidth: 150,
								width: '100%'
							},
							items: [
								{
									xtype: 'textfield',
									fieldLabel: 'Monthly Membership',
									name: 'monthlysubgrt',
									readOnly: true
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Yearly Membership',
									name: 'yearlysubgrt',
									readOnly: true
								}
							]
						},
						{
							xtype: 'fieldset',
							title: 'Actions',
							defaults: {
								labelAlign: 'right',
								labelWidth: 150,
								width: '100%'
							},
							items: [
								{
									xtype: 'combo',
									fieldLabel: 'Action',
									valueField: 'id',
									displayField: 'name',
									queryMode: 'local',
									store: 
									{
										xtype: 'store',
										fields: ['id','name'],
										data: [
											{ 
												id: 1, 
												name: 'Donate'
											},
											{
												id: 2,
												name: 'Purchase Membership'
											}
										]
									},
									listeners: {
										change: {
											fn: function(field, newValue, oldValue, eOpts){
												var form = this.findParentByType('form').getForm();
												form.findField('donateamount').hide();
												form.findField('months').hide();
												form.findField('costpermonth').hide();
												if(newValue == 1){
													var donate = form.findField('donateamount');
													donate.show();
													donate.setMaxValue(form.findField('balancegrt').getValue());
												}
												else if(newValue == 2){
													var months = form.findField('months');
													months.show();
													form.findField('costpermonth').show();
													var maxValue = Math.floor(form.findField('balancegrt').getValue() / form.findField('monthlysubgrt').getValue());
													months.setMaxValue(maxValue);
												}
											}
										}
									}
								},
								{
									xtype: 'numberfield',
									fieldLabel: 'Donation Amount (GRT)',
									name: 'donateamount',
									minValue: 0,
									hidden: true
								},
								{
									xtype: 'numberfield',
									fieldLabel: 'Number of Months',
									name: 'months',
									minValue: 1,
									hidden: true,
									listeners: {	
										change: {
											fn: function(field, newValue, oldValue, eOpts){
												var form = this.findParentByType('form').getForm();
												form.findField('costpermonth').setValue(newValue * form.findField('monthlysubgrt').getValue());
											}
										}
									}
								},
								{
									xtype: 'textfield',
									fieldLabel: 'Total Cost (GRT)',
									name: 'costpermonth',
									hidden: true,
									readOnly: true
								}
							]
						}
					]
				}
			]
		});
		
		var objGRTUser = new GRTUser();
		objGRTUser.load({
			success: function(record, operation){
				Ext.getCmp('accountform').loadRecord(record);
			}
		});	
	});
</script>


{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>
  
  <p>Disclaimer: The Transition is not liable for any loss of Grantcoin that might occur through use of software, apps, or web-based services provided for free by The Transition or by any third party, and users accept the risks and take responsibility for their own use of such products and services.</p>
  
  <br>
  <br>
  <div id="myaccount"></div>
  <br>
  <br>
  <div id="marketdata"></div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>

{% include "donateLink" with "pay_what_you_want" %} 